n8n-workflows/legenda.json
{
  "name": "Postador - Legenda",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-1",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT CASE WHEN $2 = 'long' THEN voice_long_url ELSE voice_short_url END AS voice_url FROM postador.video_runs WHERE id = $1;",
        "additionalFields": { "queryParams": "run_id,variant" }
      },
      "id": "pg-read-voice-url",
      "name": "Read voice_url",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [460, 300],
      "credentials": { "postgres": { "id": "__PG_CRED_ID__", "name": "Postgres postador" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://g12r5wkmvc92no60fqx6tbhr.137.131.180.11.sslip.io/transcribe",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Authorization", "value": "=Bearer {{$env.WHISPER_AUTH_TOKEN}}" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { audioUrl: $json.voice_url } }}",
        "options": {}
      },
      "id": "http-whisper",
      "name": "Call whisper-service",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "return [{ json: { captions: JSON.stringify($json.segments), run_id: $node[\"Execute Workflow Trigger\"].json.run_id, variant: $node[\"Execute Workflow Trigger\"].json.variant } }];"
      },
      "id": "code-build-captions",
      "name": "Build captions params",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE postador.video_runs SET captions_long_json = CASE WHEN $3 = 'long' THEN $1::jsonb ELSE captions_long_json END, captions_short_json = CASE WHEN $3 = 'short' THEN $1::jsonb ELSE captions_short_json END, current_step = 'legenda', updated_at = now() WHERE id = $2;",
        "additionalFields": { "queryParams": "captions,run_id,variant" }
      },
      "id": "pg-save-captions",
      "name": "Save captions",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [1120, 300],
      "alwaysOutputData": true,
      "credentials": { "postgres": { "id": "__PG_CRED_ID__", "name": "Postgres postador" } }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": { "main": [[{ "node": "Read voice_url", "type": "main", "index": 0 }]] },
    "Read voice_url": { "main": [[{ "node": "Call whisper-service", "type": "main", "index": 0 }]] },
    "Call whisper-service": { "main": [[{ "node": "Build captions params", "type": "main", "index": 0 }]] },
    "Build captions params": { "main": [[{ "node": "Save captions", "type": "main", "index": 0 }]] }
  },
  "settings": { "availableInMCP": true, "errorWorkflow": "jwPN2t0n4jo5nXet" }
}
