n8n-workflows/main-pipeline.json
{
  "name": "Postador - Main Pipeline",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "days", "daysInterval": 1, "triggerAtHour": 8, "triggerAtMinute": 0 }] }
      },
      "id": "trigger-schedule",
      "name": "Daily Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id AS niche_id FROM postador.niches WHERE is_active = true;"
      },
      "id": "pg-active-niches",
      "name": "Read active niches",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [460, 300],
      "credentials": { "postgres": { "id": "UwnVbemNZVcThSbB", "name": "Postgres postador" } }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO postador.video_runs (niche_id, status, current_step) VALUES ($1, 'em_progresso', 'iniciado') RETURNING id AS run_id, niche_id;",
        "additionalFields": { "queryParams": "niche_id" }
      },
      "id": "pg-create-run",
      "name": "Create video_run",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [680, 300],
      "credentials": { "postgres": { "id": "UwnVbemNZVcThSbB", "name": "Postgres postador" } }
    },
    {
      "parameters": { "mode": "runOnceForAllItems", "jsCode": "return [{ json: { run_id: $node[\"Create video_run\"].json.run_id, niche_id: $node[\"Create video_run\"].json.niche_id } }];" },
      "id": "code-input-roteiro",
      "name": "Build input for Roteiro",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": { "source": "database", "workflowId": "WdwmATwH8cDbRVZO" },
      "id": "exec-roteiro",
      "name": "Call Roteiro",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [1120, 300]
    },
    {
      "parameters": { "mode": "runOnceForAllItems", "jsCode": "return [{ json: { run_id: $node[\"Create video_run\"].json.run_id, niche_id: $node[\"Create video_run\"].json.niche_id, variant: 'long' } }];" },
      "id": "code-input-voz-long",
      "name": "Build input for Voz (long)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": { "source": "database", "workflowId": "21MzrpQTSRFwh6Xa" },
      "id": "exec-voz-long",
      "name": "Call Voz (long)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [1560, 300]
    },
    {
      "parameters": { "mode": "runOnceForAllItems", "jsCode": "return [{ json: { run_id: $node[\"Create video_run\"].json.run_id, niche_id: $node[\"Create video_run\"].json.niche_id, variant: 'long' } }];" },
      "id": "code-input-legenda-long",
      "name": "Build input for Legenda (long)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 300]
    },
    {
      "parameters": { "source": "database", "workflowId": "K2582L7TX9s8wLci" },
      "id": "exec-legenda-long",
      "name": "Call Legenda (long)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [2000, 300]
    },
    {
      "parameters": { "mode": "runOnceForAllItems", "jsCode": "return [{ json: { run_id: $node[\"Create video_run\"].json.run_id, niche_id: $node[\"Create video_run\"].json.niche_id, variant: 'long' } }];" },
      "id": "code-input-assets-long",
      "name": "Build input for Assets (long)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2220, 300]
    },
    {
      "parameters": { "source": "database", "workflowId": "hvC6AtEMoD7B3BuX" },
      "id": "exec-assets-long",
      "name": "Call Assets (long)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [2440, 300]
    },
    {
      "parameters": { "mode": "runOnceForAllItems", "jsCode": "return [{ json: { run_id: $node[\"Create video_run\"].json.run_id, niche_id: $node[\"Create video_run\"].json.niche_id, variant: 'long' } }];" },
      "id": "code-input-render-long",
      "name": "Build input for Render (long)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2660, 300]
    },
    {
      "parameters": { "source": "database", "workflowId": "7q2u4ySCyutTPGpC" },
      "id": "exec-render-long",
      "name": "Call Render (long)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [2880, 300]
    },
    {
      "parameters": { "mode": "runOnceForAllItems", "jsCode": "return [{ json: { run_id: $node[\"Create video_run\"].json.run_id, niche_id: $node[\"Create video_run\"].json.niche_id, variant: 'short' } }];" },
      "id": "code-input-voz-short",
      "name": "Build input for Voz (short)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3100, 300]
    },
    {
      "parameters": { "source": "database", "workflowId": "21MzrpQTSRFwh6Xa" },
      "id": "exec-voz-short",
      "name": "Call Voz (short)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [3320, 300]
    },
    {
      "parameters": { "mode": "runOnceForAllItems", "jsCode": "return [{ json: { run_id: $node[\"Create video_run\"].json.run_id, niche_id: $node[\"Create video_run\"].json.niche_id, variant: 'short' } }];" },
      "id": "code-input-legenda-short",
      "name": "Build input for Legenda (short)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3540, 300]
    },
    {
      "parameters": { "source": "database", "workflowId": "K2582L7TX9s8wLci" },
      "id": "exec-legenda-short",
      "name": "Call Legenda (short)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [3760, 300]
    },
    {
      "parameters": { "mode": "runOnceForAllItems", "jsCode": "return [{ json: { run_id: $node[\"Create video_run\"].json.run_id, niche_id: $node[\"Create video_run\"].json.niche_id, variant: 'short' } }];" },
      "id": "code-input-assets-short",
      "name": "Build input for Assets (short)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3980, 300]
    },
    {
      "parameters": { "source": "database", "workflowId": "hvC6AtEMoD7B3BuX" },
      "id": "exec-assets-short",
      "name": "Call Assets (short)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [4200, 300]
    },
    {
      "parameters": { "mode": "runOnceForAllItems", "jsCode": "return [{ json: { run_id: $node[\"Create video_run\"].json.run_id, niche_id: $node[\"Create video_run\"].json.niche_id, variant: 'short' } }];" },
      "id": "code-input-render-short",
      "name": "Build input for Render (short)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4420, 300]
    },
    {
      "parameters": { "source": "database", "workflowId": "7q2u4ySCyutTPGpC" },
      "id": "exec-render-short",
      "name": "Call Render (short)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [4640, 300]
    },
    {
      "parameters": { "mode": "runOnceForAllItems", "jsCode": "return [{ json: { run_id: $node[\"Create video_run\"].json.run_id, niche_id: $node[\"Create video_run\"].json.niche_id } }];" },
      "id": "code-input-aprovacao",
      "name": "Build input for Aprovação",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4860, 300]
    },
    {
      "parameters": { "source": "database", "workflowId": "UtqBinFZ1gQ3IyVz" },
      "id": "exec-aprovacao",
      "name": "Call Aprovação",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [5080, 300]
    },
    {
      "parameters": { "mode": "runOnceForAllItems", "jsCode": "return [{ json: { run_id: $node[\"Create video_run\"].json.run_id, niche_id: $node[\"Create video_run\"].json.niche_id } }];" },
      "id": "code-input-publish",
      "name": "Build input for Publish",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5300, 300]
    },
    {
      "parameters": { "source": "database", "workflowId": "WzykicrsWM9N0Wqi" },
      "id": "exec-publish",
      "name": "Call Publish",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [5520, 300]
    }
  ],
  "connections": {
    "Daily Schedule": { "main": [[{ "node": "Read active niches", "type": "main", "index": 0 }]] },
    "Read active niches": { "main": [[{ "node": "Create video_run", "type": "main", "index": 0 }]] },
    "Create video_run": { "main": [[{ "node": "Build input for Roteiro", "type": "main", "index": 0 }]] },
    "Build input for Roteiro": { "main": [[{ "node": "Call Roteiro", "type": "main", "index": 0 }]] },
    "Call Roteiro": { "main": [[{ "node": "Build input for Voz (long)", "type": "main", "index": 0 }]] },
    "Build input for Voz (long)": { "main": [[{ "node": "Call Voz (long)", "type": "main", "index": 0 }]] },
    "Call Voz (long)": { "main": [[{ "node": "Build input for Legenda (long)", "type": "main", "index": 0 }]] },
    "Build input for Legenda (long)": { "main": [[{ "node": "Call Legenda (long)", "type": "main", "index": 0 }]] },
    "Call Legenda (long)": { "main": [[{ "node": "Build input for Assets (long)", "type": "main", "index": 0 }]] },
    "Build input for Assets (long)": { "main": [[{ "node": "Call Assets (long)", "type": "main", "index": 0 }]] },
    "Call Assets (long)": { "main": [[{ "node": "Build input for Render (long)", "type": "main", "index": 0 }]] },
    "Build input for Render (long)": { "main": [[{ "node": "Call Render (long)", "type": "main", "index": 0 }]] },
    "Call Render (long)": { "main": [[{ "node": "Build input for Voz (short)", "type": "main", "index": 0 }]] },
    "Build input for Voz (short)": { "main": [[{ "node": "Call Voz (short)", "type": "main", "index": 0 }]] },
    "Call Voz (short)": { "main": [[{ "node": "Build input for Legenda (short)", "type": "main", "index": 0 }]] },
    "Build input for Legenda (short)": { "main": [[{ "node": "Call Legenda (short)", "type": "main", "index": 0 }]] },
    "Call Legenda (short)": { "main": [[{ "node": "Build input for Assets (short)", "type": "main", "index": 0 }]] },
    "Build input for Assets (short)": { "main": [[{ "node": "Call Assets (short)", "type": "main", "index": 0 }]] },
    "Call Assets (short)": { "main": [[{ "node": "Build input for Render (short)", "type": "main", "index": 0 }]] },
    "Build input for Render (short)": { "main": [[{ "node": "Call Render (short)", "type": "main", "index": 0 }]] },
    "Call Render (short)": { "main": [[{ "node": "Build input for Aprovação", "type": "main", "index": 0 }]] },
    "Build input for Aprovação": { "main": [[{ "node": "Call Aprovação", "type": "main", "index": 0 }]] },
    "Call Aprovação": { "main": [[{ "node": "Build input for Publish", "type": "main", "index": 0 }]] },
    "Build input for Publish": { "main": [[{ "node": "Call Publish", "type": "main", "index": 0 }]] }
  },
  "settings": { "errorWorkflow": "jwPN2t0n4jo5nXet", "availableInMCP": true }
}
